.wrapper {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
  height: calc(100vh - 5rem);

  display: flex;
  align-items: center;
  justify-content: space-between;

  .hero {
    max-width: 600px;

    > span {
      font-size: 1.5rem;
      font-weight: bold;
    }

    h1 {
      font-size: 4.5rem;
      font-weight: 900;
      line-height: 4.5rem;
      margin-top: 2.5rem;

      span {
        color: var(--red-500);
      }
    }

    p {
      margin-top: 1.5rem;
      font-size: 1.5rem;
      line-height: 2.25rem;

      span {
        color: var(--red-500);
        font-weight: bold;
      }
    }

    button {
      margin-top: 2.5rem;
    }
  }
}

/* Para telas menores que 768px */
@media screen and (max-width: 767px) {
  .wrapper {
    flex-direction: column;
    height: auto;

    .hero {
      max-width: 100%;
      text-align: center;
      margin-bottom: 2rem;
      padding-bottom: 2rem;
      border-bottom: 1px solid #ccc;

      h1 {
        font-size: 3.5rem;
        line-height: 3.5rem;
        margin-top: 1.5rem;
      }

      p {
        font-size: 1.25rem;
        line-height: 1.75rem;
        margin-top: 1rem;
      }
    }
  }
}

/* Para telas entre 768px e 1023px */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .wrapper {
    flex-direction: column;
    height: auto;

    .hero {
      max-width: 100%;
      text-align: center;
      margin-bottom: 2rem;
      padding-bottom: 2rem;
      border-bottom: 1px solid #ccc;

      h1 {
        font-size: 3.5rem;
        line-height: 3.5rem;
        margin-top: 1.5rem;
      }

      p {
        font-size: 1.25rem;
        line-height: 1.75rem;
        margin-top: 1rem;
      }
    }
  }
}

/* Para telas maiores que 1023px */
@media screen and (min-width: 1024px) {
  .wrapper {
    max-width: 1120px;
    height: calc(100vh - 5rem);

    .hero {
      max-width: 600px;
      text-align: left;

      h1 {
        font-size: 4.5rem;
        line-height: 4.5rem;
        margin-top: 2.5rem;
      }

      p {
        font-size: 1.5rem;
        line-height: 2.25rem;
        margin-top: 1.5rem;
      }
    }
  }
}
