.wrapper {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;

  font-family: "Lobster", cursive;

  h2 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }

  p {
    font-size: 1.75rem;
    text-align: justify;
    line-height: 1.5;

    &::before {
      content: "A";
      font-size: 3rem;
      color: var(--red-500);
    }
  }
}

@media screen and (max-width: 414px) {
  .wrapper {
    h2 {
      font-size: 1.5rem;
    }

    p {
      font-size: 1.25rem;
    }
  }
}
