.headerContainer {
  position: sticky;
  top: 0;
  height: 5rem;
  border-bottom: 1px solid var(--gray-800);
  background-color: var(--gray-900);
}

.headerContent {
  max-width: 1120px;
  height: 100%;
  margin: 0 auto;
  padding: 0 2rem;

  display: flex;
  align-items: center;

  & > span {
    font-size: 2rem;
    font-weight: bold;
  }

  nav {
    height: 100%;
    margin-left: 5rem;

    display: flex;
    align-items: center;

    a {
      display: inline-block;
      position: relative;
      padding: 0 0.5rem;
      height: 100%;
      line-height: 5rem;
      color: var(--gray-300);

      transition: color 0.2s;

      & + a {
        margin-left: 2rem;
      }

      &:hover {
        color: var(--white);
      }

      &.active {
        color: var(--white);
        font-weight: bold;
      }

      &.active::after {
        content: "";
        height: 0.1875rem;
        border-radius: 3px 3px 0 0;
        width: 100%;
        position: absolute;
        bottom: 1px;
        left: 0;
        background-color: var(--green-500);
      }
    }
  }

  .cta {
    margin-left: auto;

    height: 3rem;
    border-radius: 48px;
    background: var(--gray-700);
    border: 0;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-weight: bold;

    transition: filter 1s;

    &:hover {
      background-color: var(--green-500);
    }

    &.active {
      background-color: var(--green-500);
    }
  }
}

@media (max-width: 768px) {
  .headerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;

    & > span {
      margin-bottom: 1rem;
      font-size: 1.5rem;
    }

    nav {
      margin-left: 0;

      a {
        display: block;
        margin-bottom: 1rem;
        line-height: 2.5rem;
        font-size: 1.5rem;

        & + a {
          margin-left: 0;
        }

        &.active::after {
          display: none;
        }
      }
    }

    .cta {
      margin-top: 1rem;
      width: 100%;
    }
  }
}
