.headerContainer {
  position: sticky;
  top: 0;
  height: 5rem;
  border-bottom: 1px solid var(--gray-800);
  background-color: var(--gray-900);

  .headerContent {
    max-width: 1120px;
    height: 100%;
    margin: 0 auto;
    padding: 0 2rem;

    display: flex;
    align-items: center;

    & > span {
      font-size: 2rem;
      font-weight: bold;
      white-space: nowrap;
    }

    nav {
      height: 100%;
      margin-left: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      white-space: nowrap;

      a {
        display: inline-block;
        position: relative;
        padding: 0 0.5rem;
        height: 100%;
        line-height: 5rem;
        color: var(--gray-300);

        transition: color 0.2s;
        font-size: 1.25rem;

        & + a {
          margin-left: 2rem;
        }

        &:hover {
          color: var(--white);
        }

        &.active {
          color: var(--white);
          font-weight: bold;
        }

        &.active::after {
          content: "";
          height: 0.1875rem;
          border-radius: 3px 3px 0 0;
          width: 100%;
          position: absolute;
          bottom: 1px;
          left: 0;
          background-color: var(--green-500);
        }
      }
    }

    .cta {
      margin-left: auto;
      white-space: nowrap;

      height: 3rem;
      border-radius: 48px;
      background-color: var(--gray-700);
      border: 0;
      padding: 0 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--white);

      transition: filter 1s;
      font-size: 1.25rem;

      &:hover {
        background-color: var(--green-500);
      }

      &.active {
        background-color: var(--green-500);
        font-weight: bold;
      }
    }
  }
}

@media (max-width: 768px) {
  .headerContent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    & > span {
      display: none;
    }

    nav {
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        display: flex;
        font-size: 1.25rem;
        justify-content: center;
        align-items: center;
      }
    }

    .cta {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      font-size: 1.25rem;
      margin-right: 4rem;
      background-color: transparent !important;
    }
  }
}
